*.vs
/.vs/DigifarBackend/v17/.suo
/Digifar.API/bin/Debug/net8.0/appsettings.json
/Digifar.API/bin/Debug/net8.0/Digifar.API.deps.json
/Digifar.API/bin/Debug/net8.0/Digifar.API.dll
/Digifar.API/bin/Debug/net8.0/Digifar.API.exe
/Digifar.API/bin/Debug/net8.0/Digifar.API.pdb
/Digifar.API/bin/Debug/net8.0/Digifar.Application.pdb
/Digifar.API/bin/Debug/net8.0/Digifar.Application.dll
/Digifar.API/bin/Debug/net8.0/Digifar.Contracts.dll
/Digifar.API/bin/Debug/net8.0/Digifar.Contracts.pdb
/Digifar.API/bin/Debug/net8.0/Digifar.Domain.dll
/Digifar.API/bin/Debug/net8.0/Digifar.Domain.pdb
/Digifar.API/bin/Debug/net8.0/Digifar.Infrastructure.dll
/Digifar.API/bin/Debug/net8.0/Digifar.Infrastructure.pdb
/Digifar.API/obj/Debug/net8.0/refint/Digifar.API.dll
/Digifar.API/obj/Debug/net8.0/apphost.exe
/Digifar.API/obj/Debug/net8.0/ref/Digifar.API.dll
/Digifar.API/obj/Debug/net8.0/Digifar.API.AssemblyInfo.cs
/Digifar.API/obj/Debug/net8.0/Digifar.API.AssemblyInfoInputs.cache
/Digifar.API/obj/Debug/net8.0/Digifar.API.csproj.AssemblyReference.cache
/Digifar.API/obj/Debug/net8.0/Digifar.API.dll
/Digifar.API/obj/Debug/net8.0/Digifar.API.genruntimeconfig.cache
/Digifar.API/obj/Debug/net8.0/Digifar.API.pdb
/Digifar.API/obj/Debug/net8.0/Digifar.API.sourcelink.json
/Digifar.Application/bin/Debug/net8.0/Digifar.Application.deps.json
/Digifar.Application/bin/Debug/net8.0/Digifar.Application.dll
/Digifar.Application/bin/Debug/net8.0/Digifar.Application.pdb
/Digifar.Application/bin/Debug/net8.0/Digifar.Domain.dll
/Digifar.Application/bin/Debug/net8.0/Digifar.Domain.pdb
/Digifar.Application/obj/Debug/net8.0/ref/Digifar.Application.dll
/Digifar.Application/obj/Debug/net8.0/refint/Digifar.Application.dll
/Digifar.Application/obj/Debug/net8.0/Digifar.Application.AssemblyInfo.cs
/Digifar.Application/obj/Debug/net8.0/Digifar.Application.AssemblyInfoInputs.cache
/Digifar.Application/obj/Debug/net8.0/Digifar.Application.csproj.AssemblyReference.cache
/Digifar.Application/obj/Debug/net8.0/Digifar.Application.csproj.CoreCompileInputs.cache
/Digifar.Application/obj/Debug/net8.0/Digifar.Application.dll
/Digifar.Application/obj/Debug/net8.0/Digifar.Application.pdb
/Digifar.Application/obj/Debug/net8.0/Digifar.Application.sourcelink.json
/Digifar.Contracts/bin/Debug/net8.0/Digifar.Application.dll
/Digifar.Contracts/bin/Debug/net8.0/Digifar.Application.pdb
/Digifar.Contracts/bin/Debug/net8.0/Digifar.Contracts.deps.json
/Digifar.Contracts/bin/Debug/net8.0/Digifar.Contracts.dll
/Digifar.Contracts/bin/Debug/net8.0/Digifar.Contracts.pdb
/Digifar.Contracts/bin/Debug/net8.0/Digifar.Domain.dll
/Digifar.Contracts/bin/Debug/net8.0/Digifar.Domain.pdb
/Digifar.Contracts/obj/Debug/net8.0/ref/Digifar.Contracts.dll
/Digifar.Contracts/obj/Debug/net8.0/refint/Digifar.Contracts.dll
/Digifar.Contracts/obj/Debug/net8.0/Digifar.Contracts.AssemblyInfo.cs
/Digifar.Contracts/obj/Debug/net8.0/Digifar.Contracts.AssemblyInfoInputs.cache
/Digifar.Contracts/obj/Debug/net8.0/Digifar.Contracts.csproj.AssemblyReference.cache
/Digifar.Contracts/obj/Debug/net8.0/Digifar.Contracts.dll
/Digifar.Contracts/obj/Debug/net8.0/Digifar.Contracts.pdb
/Digifar.Contracts/obj/Debug/net8.0/Digifar.Contracts.sourcelink.json
/Digifar.Domain/bin/Debug/net8.0/Digifar.Domain.dll
/Digifar.Domain/bin/Debug/net8.0/Digifar.Domain.pdb
/Digifar.Domain/obj/Debug/net8.0/ref/Digifar.Domain.dll
/Digifar.Domain/obj/Debug/net8.0/refint/Digifar.Domain.dll
/Digifar.Domain/obj/Debug/net8.0/Digifar.Domain.AssemblyInfo.cs
/Digifar.Domain/obj/Debug/net8.0/Digifar.Domain.AssemblyInfoInputs.cache
/Digifar.Domain/obj/Debug/net8.0/Digifar.Domain.dll
/Digifar.Domain/obj/Debug/net8.0/Digifar.Domain.pdb
/Digifar.Domain/obj/Debug/net8.0/Digifar.Domain.sourcelink.json
/Digifar.Infrastructure/bin/Debug/net8.0/Digifar.Application.dll
/Digifar.Infrastructure/bin/Debug/net8.0/Digifar.Application.pdb
/Digifar.Infrastructure/bin/Debug/net8.0/Digifar.Domain.dll
/Digifar.Infrastructure/bin/Debug/net8.0/Digifar.Domain.pdb
/Digifar.Infrastructure/bin/Debug/net8.0/Digifar.Infrastructure.deps.json
/Digifar.Infrastructure/bin/Debug/net8.0/Digifar.Infrastructure.dll
/Digifar.Infrastructure/bin/Debug/net8.0/Digifar.Infrastructure.pdb
/Digifar.Infrastructure/obj/Debug/net8.0/ref/Digifar.Infrastructure.dll
/Digifar.Infrastructure/obj/Debug/net8.0/refint/Digifar.Infrastructure.dll
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.AssemblyInfo.cs
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.AssemblyInfoInputs.cache
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.csproj.AssemblyReference.cache
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.csproj.CoreCompileInputs.cache
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.dll
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.genruntimeconfig.cache
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.pdb
/Digifar.Infrastructure/obj/Debug/net8.0/Digifar.Infrastructure.sourcelink.json
